/*== HTML == */
#card.apply {
    background: white;
    position: relative;
}

.hidden {
    display: none;
}

.cycle-tab-container {
    margin: 30px auto;
    width: 800px;
    padding: 20px;
    box-shadow: 0 0 10px 2px #ddd;
}

.cycle-tab-container a {
    color: #173649;
    font-size: 16px;
    font-family: roboto;
    text-align: center;
}

.tab-pane {
    height: 100px !important;
    margin: 0px auto;
    width: 500px;
    max-width: 100%;
}

.fade {
    opacity: 0;
    transition: opacity 4s ease-in-out;
}

.fade.active {
    opacity: 1;
}

.cycle-tab-item {
    width: 180px;
}

.cycle-tab-item:after {
    display: block;
    content: '';
    border-bottom: solid 3px orange;
    transform: scaleX(0);
    transition: transform 0ms ease-out;
}

.cycle-tab-item.active:after {
    transform: scaleX(1);
    transform-origin: 0% 50%;
    transition: transform 5000ms ease-in;
}


.nav-link:focus,
.nav-link:hover,
.cycle-tab-item.active a {
    border-color: transparent !important;
    color: #0766AD;
}

.nav-item::after {
  content: "";
  display: block;
  border-bottom: 2px solid transparent;
  margin: 0 auto;
  width: 50%;
  transition: width 0.3s ease;
}

.nav-item.active::after {
  border-bottom-color: #005BAC;
  width: 100%;
}

.subnav a:hover {
    color: white !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #005bac;
    background-color: #fff;
    border-color: transparent;
    font-weight: bold;
    font-size: large;
}

.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    font-weight: bold;
    font-size: large;
}

.nav-tabs {
    border-bottom: none;
    display: flex; /* Use Flexbox */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    text-align: center; /* Center text inside items */
}

.nav-item {
  flex: 1; /* Each nav item will take up equal space */
  text-align: center; /* Center text inside each nav item */
}

/*.active {
    color: #005BAC !important;
    border-bottom: 2px solid #005BAC;
    cursor: pointer;
}*/

.col-4 a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #005BAC;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s;
}

.col-4 a:hover {
    width: 80%;
}

#card.apply .uk-panel-title * {
    color: #005bac;
}

#card.apply .content * {
    color: #000000;
}

.uk-panel-title {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    text-transform: none;
    color: #666;
}

#card.apply .uk-panel-title-contact>*,
#card.apply .content-contact * {
    color: #EEEEEE;
}

.uk-panel-title-contact {
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 24px;
    text-transform: none;
}

.uk-panel-title-contact>* {
    font-weight: bold;
}

/*== HEADER == */
#header .wrapper.apply {}

#header .wrapper.apply ul>li>a>i:before {
    +color: #005bac;
}

#header .wrapper {}

#header .data.inline .flag {
    height: 18px;
    width: 18px;
}

#header .data.inline .flag img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

#card>#header {
    margin-bottom: 0px;
}

#header .wrapper {
    padding: 10px 15px 15px 15px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#header .wrapper::before {
    content: '';
}

#header .brand img {
    height: 27px;
}

#header ul {
    margin-bottom: 0px;
    padding: 0px;
}

#header ul>li {
    display: inline-block;
    margin-left: 15px;
}

#header ul>li>a>i {
    font-size: 20px;
    vertical-align: middle;
}

/*== PROFILE == */

#profile {
    position: relative;
}

#profile .info .name.apply>* {
    color: #005BAC;
}

#profile .info .title.apply {
    position: relative;
}

#profile .wrapper.apply {
    background: #005BAC;
}

#profile .info .brandname.apply>*,

#profile .info .title.apply>*,

#profile .info .company.apply>* {
    color: #000000;
}

#profile .info .title.apply {
    position: relative;
}

#profile .info .title.apply::before {}

#profile .wrapper {
    border-radius: 15px;
    margin: -125px 15px 0px 15px;
    position: relative;
    /* box-shadow: rgba(0, 0, 0, 0.04) 0px 2px 4px; /
/ box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.background {}

.background-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28vh;
    background: url("https://img.freepik.com/free-photo/business-skyscraper-building-hong-kong-city_74190-391.jpg?w=996&t=st=1701749843~exp=1701750443~hmac=919d362156a4787a9ace94712067136a693c44937d0ee6f53d917bd55261cd90");
    background-size: cover;
    background-position: 0 50%;
    top: 0;
    left: 0;
}

.avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    transform: translate(0%, -60%);
    z-index: 2;
}

.avatar-border {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 5px solid #005BAC;
    overflow: hidden;
    background-color: #EEEEEE;
}

#profile .avatar {
    width: 160px;
    height: 160px;
    overflow: hidden;
    border-radius: 50%;
}

#profile .avatar img {
    width: 100%;
    height: auto;
    display: block;
}

#profile .info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px 25px 0px 25px;
}

#profile .info .name>* {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    text-transform: uppercase;
    color: #FFF;
    margin-bottom: 0px;
}

#profile .info .title>*,

#profile .info .company>* {
    color: #FFF;
}

#profile .info .title {
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
}

#profile .info .company {}

/*== TOOL == */
#card>#tool {
    margin-bottom: 35px;
}

#tool .wrapper {
    padding: 0px 22px;
}

#tool .button .uk-button {
    border: none;
    height: 32px;
    line-height: 33px;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: none;
    background: none;
}

.button-style {
    color: white;
    border: 2px solid #005BAC;
}

.uk-grid-smaller {
    display: flex;
    justify-content: center;
    align-items: center;
}

.uk-grid-small {
    margin-left: -10px;
    margin-bottom: 6px;
    margin-top: 10px;
}

p {
    margin-top: 0;
    margin-bottom: 0rem;
}

a {
    color: #005bac;
    text-decoration: none;
    background-color: transparent;
}

*,
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    margin: 0px;
    padding: 0px;
}

html,
body {
    background: #FFF;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto
 Sans",sans-serif," Apple Color Emoji"," Segoe UI Emoji"," Segoe UI Symbol"," Noto Color Emoji";
 font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

.uk-panel-title>* {
    font-weight: bold;
    color: #000;
}

/* ===== #CARD ===== */
#card {
    max-width: 468px;
    min-height: 768px;
    margin: 0px auto;
    padding: 0px 0px 0px 0px;
    position: relative;
    background-color: #FFF;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#card>div {}

#card>div:last-child {
    margin-top: 15px;
    margin-bottom: 0px;
}

.uk-grid>*>:last-child {
    margin-bottom: 0px;
    margin-top: 0px;
}

/* ===== #INTRODUCE ===== */
#introduce .wrapper {
    padding: 0px 22px;
}

#introduce .content {
    text-align: justify;
}

/* ===== #SOCIAL ===== */
#social .wrapper {
    padding: 0px 22px;
}

#social .content a {
    background: #f5f5f5;
    display: inline-block;
    border-radius: 4px;
    width: 100%;
    text-align: center;
    height: 45px;
    line-height: 45px;
}

#social .content a>i {
    font-size: 20px;
}

#social .content a>img {
    width: 25px;
    height: 25px;
}

#social .content a.zalo>img {
    width: 20px;
    height: 20px;
}

/* ===== #VIDEO ===== */
#video .wrapper {
    padding: 0px 15px;
}

#video .content {
    position: relative;
    padding-bottom: 61.25%;
    /* 16:9 */
    height: 0;
}

#video .content iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#video .sapo {
    margin-top: 15px;
}


/* ===== #PHOTO ===== */
#card>#photo {
    margin-bottom: 0px;
}

#photo .content {
    position: relative;
}

#photo .wrapper {
    padding: 0px 22px;
}

#photo .content .uk-grid>div {
    margin-bottom: 10px;
}

#photo .content .image {
    background: #EEE;
    border-radius: 4px;
    padding: 5px;
}

#photo .content .image img {
    object-fit: cover;
    border-radius: 4px;
    height: 124px;
    width: 124px;
}

/* ===== #EDIT-PHOTO ===== */

#card>#edit-photo {
    margin-bottom: 0px;
}

#edit-photo .content {
    position: relative;
}

#edit-photo .wrapper {
    padding: 0px 22px;
}

#edit-photo .content .uk-grid>div {
    margin-bottom: 0px;
}

#edit-photo .content .image {
    background: #EEE;
    border-radius: 4px;
    padding: 5px;
}

#edit-photo .content .image img {
    object-fit: cover;
    border-radius: 4px;
    height: 76px;
    width: 76px;
}

/* ===== #CONTACT ===== */
#contact .wrapper {
    padding: 0px 22px;
    background-color: #262626;
}

#contact .wrapper-social {
    padding: 2px 22px;
    background-color: #262626;
    margin-bottom: 15px;
}

#contact .content a {
    display: inline-block;
    width: 100%;
    color: #000;
    position: relative;
    padding-left: 20px;
    border-bottom: 1px solid #e3e3e3;
    padding: 10px 0px 10px 25px;
}

#contact .content a>i {
    position: absolute;
    left: 0px;
    top: 14px;
}

/* ===== #LINK ===== */
#link .wrapper {
    padding: 0px 22px;
}

#link .content a {
    display: inline-block;
    width: 100%;
    color: #000;
    position: relative;
    padding-left: 20px;
    border-bottom: 1px solid #e3e3e3;
    padding: 10px 0px 10px 25px;
}

#link .content a>i {
    position: absolute;
    left: 0px;
    top: 14px;
}

/* ===== #BANK ===== */
#bank .wrapper {
    padding: 0px 22px;
}

#bank .content a {
    display: inline-block;
    width: 100%;
    color: #000;
    position: relative;
    padding-left: 20px;
    border-bottom: 1px solid #e3e3e3;
    padding: 10px 0px 10px 25px;
}

#bank .content a>i {
    position: absolute;
    left: 0px;
    top: 14px;
}

/* ===== .UK-MODAL ===== */
.uk-modal .uk-modal-dialog {
    max-width: 368px;
    color: #000;
}

.uk-modal .uk-modal-dialog .name {
    font-weight: bold;
    font-size: 18px;
}

.uk-modal .uk-modal-dialog .image {
    border: 1px solid #EEEEEE;
    margin-bottom: 15px;
    border-radius: 4px;
}

.uk-modal .uk-modal-dialog .image img {
    border-radius: 4px;
    width: 100%;
}

.uk-modal .uk-modal-dialog input {
    width: 100%;
    border: 1px solid #000;
}

/* ===== #FOOTER ===== */
#footer .wrapper {
    padding: 10px 15px;
    color: #FFF;
}

#footer .wrapper.apply {
    background: #FFFFFF;
}

#footer .wrapper.apply .content * {
    color: #000000;
    display: flex;
    justify-content: center;
}



.formatted-text {
    white-space: pre-wrap;
    /* ===== #ICON ===== */
}

.uk-icon-user:before {
    content: "\f007";
    margin-left: 4px;
}

.uk-icon-chain:before,
.uk-icon-link:before {
    content: "\f0c1";
    margin-left: 4px;
}

.uk-icon-camera-retro:before {
    content: "\f083";
    margin-left: 4px;
}

.uk-icon-youtube-play:before {
    content: "\f16a";
    margin-left: 4px;
}

.uk-icon-phone:before {
    content: "\f095";
    margin-right: 6px;
}

.uk-icon-envelope:before {
    content: "\f0e0";
    margin-right: 4px;
}

.uk-icon-map-marker:before {
    content: "\f041";
    margin-left: 2px;
    margin-right: 8px;
}

.uk-grid-width-1-6>* {
    width: 10.666%;
    margin-bottom: 10px;
}



.button-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
}

.button-container button {
    margin: 5px;
    flex-shrink: 0;
}

.button-container .cover-add-contact {
    width: 50%;
}

.btn-cover {
    border-radius: 7px;
    width: 13%;
    background-color: #D9D9D9;
}

.line-with-shadow {
    width: 100%;
    height: 1px;
    color: #FAFAFA;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
}

.subnav {
    text-decoration: none;
    font-size: 17px;
}

.cover-add-contact {
    height: 45px;
    border-radius: 7px;
    width: 50%;
    background-color: #005BAC;
    color: white;
    border: none;
}

.btn-cover {
    border-radius: 7px;
    width: 13%;
    background-color: #D9D9D9;
}

.uk-icon-bookmark,
.uk-icon-share-alt,
.uk-icon-user-plus,
.uk-icon-ellipsis-v {
    font-size: 20px;
}

.cover-title {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}

.image-qr {
    height: 75px;
    right: 30px;
    position: absolute;
    top: -20px;
}

.cover-name .apply h1 {
    margin-top: -30px;
}


@media (max-width: 767px) {
    .button-container button {
        width: 100px;
    }

    .cover-title {
        margin-bottom: 20px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .button-container button {
        width: 120px;
    }
}


@media (max-height:1200px) {
    .brand {
        margin-top: 30px;
    }

    .cover-logo .logo-img {
        margin-top: -20px;
    }

    .cover-logo img {
        margin-top: 15px !important;
    }
}

@media (max-height:970px) {
    .cover-logo {
        margin-top: 8px !important;
        padding-top: 10px;
    }
}

@media (height < 700px) {
    .logo-img {
        margin-top: 20px !important;
        padding-top: 10px;
    }
}

@media (max-height:420px) {
    .cover-logo {
        margin-top: 30px;
        padding-top: 10px;
    }
}

#follower-list ul {
    list-style-type: none;
    padding: 10px;
}

#follower-list li {
    position: relative;
    padding: 10px;
    margin-bottom: 10px;
}

#follower-list li::after {
    content: '';
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-bottom: 1px solid #dee2e6;
}


#follower-list a {
    text-decoration: none;
    color: #0056b3;
    font-weight: bold;
}

#follower-list a:hover {
    color: #00376b;
}

.modal-header h2 {
    margin: 0;
    font-size: 20px;
    font-weight: bolder;
}
.modal-body {
    padding: 15px;
    overflow-y: auto;
}
.modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: center;
    padding: 1rem 1rem 0rem 1rem;
    border-bottom: 1px;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

#nav-image div a {
    position: relative;
    z-index: 2;
}

#nav-image .uk-panel-title {
    position: relative;
    z-index: 1;
}